<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

    <!-- fonts style -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Raleway:400,700&display=swap"
    rel="stylesheet" /> -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
                <img src="/images/logo.png" alt="" />
                <span>
                    Nova
                </span>
                </a>

                <div class="navbar-collapse" id="">
                    <div class="custom_menu-btn">
                        <button onclick="openNav()">
                        <span class="s-1"> </span>
                        <span class="s-2"> </span>
                        <span class="s-3"> </span>
                        </button>
                    </div>
                    <div id="myNav" class="overlay">
                        <div class="overlay-content">
                            <a href="http://localhost:8080/aliens/start">HOME</a>
                            <a href="http://localhost:8080/aliens/addNewUser">Create Profile</a>
                            <a href="http://localhost:8080/reservation/addNewReservation">Get A Reservation</a>
                            <a href="http://localhost:8080/aliens/list">Aliens List</a>
                            <a href="http://localhost:8080/drinks/list">Our Drink</a>
                            <a href="http://localhost:8080/reservation/list">Reservation List</a>

                        </div>
                    </div>
                </div>
            </nav>
            </div>
        </header>
        <section class=" slider_section position-relative">
            <div class="container-fluid">
                <h1>Make a reservation now</h1>
                <form method="post" action="/reservation/create">
                    <div class="div-te">
                        <label for="" class="formbold-form-label"> Alien Name </label>
                        <input type="text" name="alien_name" id="alien_name" placeholder="Alien's name"
                            class="formbold-form-input" />
                    </div>
                    <div class="div-te">
                        <label for="" class="formbold-form-label"> client Id </label>
                        <input type="text" name="clientId" id="clientId" placeholder="clientId" class="formbold-form-input" />
                    </div>

                    <div class="div-te">
                        <label for="" class="formbold-form-label"> Drink Ordered </label>
                        <input type="text" name="drink_ordered" id="drink_ordered" placeholder="Drink ordered"
                        class="formbold-form-input" />
                    </div>
                    <div class="div-te">
                        <label for="" class="formbold-form-label"> Quantity of Drinks </label>
                        <input type="number" name="quantity_of_drinks" id="quantity_of_drinks" placeholder="Quantity"
                        class="formbold-form-input" />
                    </div>

                    <div class="div-te">
                        <label for="" class="formbold-form-label"> Quantity of People </label>
                        <input type="number" name="quantity_of_people" id="quantity_of_people" placeholder="Quantity"
                            class="formbold-form-input" />
                    </div>
                    <button type="submit">Save</button>
                
                </form>
            </div>
        </section>
        <!-- end slider section -->
    </div>

</body>
    <script type="text/javascript" src="/js/jq.min.js"></script>
    <!-- <script type="text/javascript" src="/js/bootstrap.js"></script> -->
    <script type="text/javascript" src="/js/bo.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>

    
    <script>
        function openNav() {
        document.getElementById("myNav").classList.toggle("menu_width");
        document
            .querySelector(".custom_menu-btn")
            .classList.toggle("menu_btn-style");
        }
    </script>

    <!-- owl carousel script -->
    <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 35,
        navText: [],
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
        0: {
            items: 1
        },
        600: {
            items: 2
        },
        1000: {
            items: 3
        }
        }
    });
    </script>
    <!-- end owl carousel script -->

</html>