<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Raleway:400,700&display=swap"
    rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
                <img src="/images/logo.png" alt="" />
                <span>
                    Nova
                </span>
                </a>

                <div class="navbar-collapse" id="">
                    <div class="custom_menu-btn">
                        <button onclick="openNav()">
                        <span class="s-1"> </span>
                        <span class="s-2"> </span>
                        <span class="s-3"> </span>
                        </button>
                    </div>
                    <div id="myNav" class="overlay">
                        <div class="overlay-content">
                            <a href="http://localhost:8080/aliens/start">HOME</a>
                            <a href="http://localhost:8080/aliens/addNewUser">Create Profile</a>
                            <a href="http://localhost:8080/reservation/addNewReservation">Get A Reservation</a>
                            <a href="http://localhost:8080/aliens/list">Aliens List</a>
                            <a href="http://localhost:8080/drinks/list">Our Drink</a>
                            <a href="http://localhost:8080/reservation/list">Reservation List</a>
                        </div>
                    </div>
                    </div>
                </div>
            </nav>
            </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->
        <section style="margin-top: -600px;" class=" slider_section position-relative">
            <div class="side_heading">
            <h5>
                G
                o
                o
                d
                F
                o
                o
                d
            </h5>
            </div>
            <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-4 offset-md-1">
                <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                        01
                    </li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1">
                        02
                    </li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2">
                        03
                    </li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3">
                        04
                    </li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="img-box b-1">
                        <img style="border-radius: 15px;" src="/images/drink1.jpg" alt="" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-box b-2">
                        <img style="border-radius: 15px;" src="/images//drink2.jpg" alt="" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-box b-3">
                        <img style="border-radius: 15px;" src="/images/drink3.jpg" alt="" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-box b-4">
                        <img style="border-radius: 15px;" src="/images/drink4.jpg" alt="" />
                        </div>
                    </div>
                    </div>
                    <div class="carousel_btn-box">
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                    </a>
                    </div>
                </div>
                </div>
                <div class=" col-md-5 offset-md-1">
                <div class="detail-box">
                    <h1>Aliens <br>Break Time</h1>
                    <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words
                    </p>

                    <div class="btn-box">
                        <a href="" class="btn-2">Order Now</a>
                    </div>

                </div>
                </div>
            </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>
    <!-- about section -->
    <section class="about_section">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 offset-md-1">
            <div class="detail-box">
                <div class="heading_container">
                <h2>
                    About <br>
                    Our <br>
                    Food
                </h2>
                <hr>
                </div>
                <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                in
                some form, by injected humour, or randomised words
                </p>
                <a href="">
                Read More
                </a>
            </div>
            </div>
            <div class="col-md-6 px-0">
            <div class="img-box">
                <img style="width: 430px; height:480px;" src="/images/14.jpg" alt="">
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- hot section -->
    <section class="hot_section layout_padding">
        <div class="container">
        <div class="heading_container">
            <h2>
            What's Hot
            </h2>
            <hr>
        </div>
        <p>
            There are many variations of passages of Lorem Ipsum available, but the majority
        </p>
        </div>
        <div class="carousel_container">
        <div class="container">
            <div class="carousel-wrap ">
            <div class="owl-carousel">
                <div class="item">
                <div class="box">
                    <div class="img-box">
                    <img src="/images//drink11.jpg" />
                    </div>
                    <div class="detail-box">
                    <h4>
                        .
                    </h4>
                    <p>
                        There are many variations of passages of Lorem Ipsum available,
                    </p>
                    <a href="">
                        Order Now
                    </a>
                    </div>
                </div>
                </div>
                <div class="item">
                <div class="box">
                    <div class="img-box">
                    <img src="/images/drink9.jpg" />
                    </div>
                    <div class="detail-box">
                    <h4>
                        .
                    </h4>
                    <p>
                        There are many variations of passages of Lorem Ipsum available,
                    </p>
                    <a href="">
                        Order Now
                    </a>
                    </div>
                </div>
                </div>
                <div class="item">
                <div class="box">
                    <div class="img-box">
                    <img src="/images/drink8.jpg" />
                    </div>
                    <div class="detail-box">
                    <h4>
                        .
                    </h4>
                    <p>
                        There are many variations of passages of Lorem Ipsum available,
                    </p>
                    <a href="">
                        Order Now
                    </a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
</body>
    <script type="text/javascript" src="/js/jq.min.js"></script>
    <!-- <script type="text/javascript" src="/js/bootstrap.js"></script> -->
    <script type="text/javascript" src="/js/bo.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>

    
    <script>
        function openNav() {
        document.getElementById("myNav").classList.toggle("menu_width");
        document
            .querySelector(".custom_menu-btn")
            .classList.toggle("menu_btn-style");
        }
    </script>

    <!-- owl carousel script -->
    <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 35,
        navText: [],
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
        0: {
            items: 1
        },
        600: {
            items: 2
        },
        1000: {
            items: 3
        }
        }
    });
    </script>
    <!-- end owl carousel script -->

</html>